.LaunchList {
    height: 100vh;
    overflow: hidden auto;
    background-color: #ececec;
    width: 23vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.LaunchList__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.LaunchList__item {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-top: 1px solid #919191;
    cursor: pointer;
}
